@import '@/Common/Theme/StateColors.module.scss';
@import './Responsivness.module.scss';

.container{
    position: sticky;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding: 2%;
    // width: 100%;
    justify-content: space-around;
    background-color: $state-primary-contrast-text;
}

.linesContainer{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 70%;

    @include responsive-top(30%);
    @include responsive-width(65%);
}

