@import '@/Common/Theme/StateColors.module.scss';

.container{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding: 20px;
    justify-content: space-around;
    background-color: $state-primary-contrast-text;
}

.linesContainer{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 75%;
    top: 42px;
}