
.frame {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 650px;
    padding: 50px;
    border-radius: 20px;
    background-color: black;
    align-items: center;
}

.text {
    margin: 20px;
    font-size: 40px;
    color: white;
    text-align: center;
}